/ %p#notice= notice


/ = link_to 'Edit', edit_manipuulyator_path(@manipuulyator)
/ \|
/ = link_to 'Back', manipuulyators_path


=link_to_back
.page-header
  %h1
    =@manipuulyator.name
-if @manipuulyator.edit?(@current_user)
  .btn-toolbar
    =link_to edit_manipuulyator_path(@manipuulyator), class: 'btn btn-primary' do
      =fa_icon 'edit'
      Редактировать
    =link_to @manipuulyator,method: :delete, data: {confirm: t('helpers.sure')}, class: 'btn btn-danger' do
      =fa_icon 'trash-o'
      Удалить
.row
  .col-sm-4
    -if @manipuulyator.foto?
      =image_tag @manipuulyator.foto.url(:medium), alt: @manipuulyator.name
  .col-sm-8
    %dl
      -if @manipuulyator.description.present?
        %h4=Manipuulyator.human_attribute_name(:description)
        =simple_format @manipuulyator.description

